.headerTop-header {
    font-family: "Arimo Standard";
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.headerTop-header span {
    color: #C13230;
}

.healthCare-wp {
    font-family: "Arimo Standard" !important;
    font-size: 30px !important;
    font-weight: 500 !important;
    line-height: 20px !important;
    color: #fff !important;
    box-shadow: 0px 5px 20px 0px #00000026 !important;
    background-color: #69E483 !important;
    border-radius: 8px !important;
    border: none !important;
    padding: 16px 40px !important;
    float: right;
}