.detail-header {
    font-family: "Arimo Standard";
    font-size: 39px;
    font-weight: 600;
    line-height: 49px;
}

@media screen and (max-width: 600px) {
    .blogDetail-wrapper img {
        width: 100%;
    }
}